<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    <p>After a <a href="../getting-up-and-running/">drunken bet</a> got me to enter the London Marathon in 2012, something crazy happened. I started to enjoy running. </p>

    <p>Now I'm training to run my first <a href="http://www.centurionrunning.com/south-downs-way-50-2016/south-downs-way-50-2016/">50 mile race</a> in April.</p>
  </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <ul>
    <a href="/rss" target="_blank" class="social-item rss"><li><i class="fa fa-rss"></i></li></a>
        
    <a href="http://upandultra.com" target="_blank" class="social-item home"><li><i class="fa fa-home"></i></li></a>
  </ul>

</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>

